<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.coinisi.system.admin.mapper.SysDictItemMapper">
    <resultMap type="com.coinisi.system.api.entity.SysDictItem" id="dictItemResultMap">
        <result property="dictCode" column="dict_code"/>
        <result property="status" column="status"/>
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="remark" column="remark"/>
        <result property="gmtCreate" column="gmt_create"/>
        <result property="gmtModified" column="gmt_modified"/>
        <result property="defaulted" column="defaulted"/>
        <result property="sort" column="sort" />
        <result property="value" column="value" />
    </resultMap>
    <select id="queryDictItem" resultMap="dictItemResultMap" parameterType="map">
        select dict_code,id,status,name,remark,gmt_create,gmt_modified,sort,defaulted,value from sys_dict_item  where
        dict_code = #{dictCode}
        <if test="name !=null and name != ''">
            and name like CONCAT(CONCAT('%',#{name}),'%')
        </if>
        <if test="value !=null and value != ''">
            and value like CONCAT(CONCAT('%',#{value}),'%')
        </if>
        <if test="status !=null ">
            and   status = #{status}
        </if>
    </select>
</mapper>