<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.coinisi.system.admin.mapper.SysPermissionMapper">
    <select id="selectListAll" resultType="com.coinisi.system.api.entity.SysPermission">
        select * from sys_permission
    </select>
     <select id = "list" resultType="com.coinisi.system.api.entity.SysPermission">
     SELECT
     	t1.*, t2.NAME AS module_name
     FROM
     	sys_permission t1
     	LEFT JOIN sys_menu t2 ON t1.module_id = t2.id
     WHERE 1=1
     <if test='permission.name != null and permission.name.trim() neq \"\"'>
       and t1.name like concat('%',#{permission.name},'%')
    </if>
     <if test='permission.type !=null '>
       and t1.type = #{permission.type}
     </if>
     <if test='permission.moduleId !=null '>
       and t1.module_id = #{permission.moduleId}
     </if>
     ORDER BY t1.gmt_modified DESC,t1.gmt_create DESC
     </select>
</mapper>