<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coinisi.system.admin.mapper.SysUserMapper">

    <resultMap type="com.coinisi.system.api.entity.SysUser" id="sysUserMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="deleted" column="deleted" jdbcType="INTEGER"/>
        <result property="deptId" column="dept_id" jdbcType="INTEGER"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="nickname" column="nickname" jdbcType="VARCHAR"/>
        <result property="gender" column="gender" jdbcType="INTEGER"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
        <result property="mobile" column="mobile" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="gmtCreate" column="gmt_create" jdbcType="TIMESTAMP"/>
        <result property="gmtModified" column="gmt_modified" jdbcType="TIMESTAMP"/>

    </resultMap>
    <sql id="userColumn">id,dept_id,deleted,username,nickname,gender,password,avatar,mobile,status,email,gmt_create,gmt_modified</sql>
    <sql id="userIfConditions">
      <if test="username !=null and username !=''">
          and username =#{username}
      </if>
        <if test="nickname !=null and nickname !=''">
            and nickname like concat('%',#{nickname},'%')
        </if>
        <if test="gender !=null and gender !=''">
            and gender =#{gender}
        </if>
        <if test="status !=null and status !=' '">
            and status =#{status}
        </if>
        <if test="deptId != null and deptId != ''">
           and  dept_id= #{deptId}
        </if>
    </sql>
    <select id="queryUserList" resultMap="sysUserMap">
        select
              <include refid="userColumn" />
            from sys_user
                 <where>
                    <include refid="userIfConditions"/>
                 </where>
    </select>
</mapper>

